.myDad {
    font-size: x-large;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
  align-items: center;
}

.item img {
    width: 75%;
    height: auto;
    align-self: center;
}

.glassesDad img {
    width: 25%;
    height: auto;
    align-self: center;
}

p {
    text-align: center;
}

.paragraph {
    padding: 5%;
}