.myDad {
    font-size: x-large;
}

/* img{
    max-width: 25%;
    height: auto;
} */

.gallery {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-content: flex-start; */
}

/* .item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
} */

.item {
    /* display: flex;
    flex-direction: row; */
    display: flex;
  align-items: center;
}

.item img {
    width: 75%;
    height: auto;
    align-self: center;
}

.glassesDad img {
    width: 25%;
    height: auto;
    align-self: center;
}

p {
    text-align: center;
}

.paragraph {
    padding: 5%;
}